.input-field-email {
    width: 100%;
    /* Mantiene la larghezza del form invariata */
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    /* Colore del testo predefinito */
    transition: border-color 0.3s ease;
    margin-left: 0%;
}

.input-pass-reg {
    padding-right: 2.5rem;
}

/* Logo */
.logo-container {
    display: flex;
    align-items: center;

}

.logo-image-email {
    margin-right: 0.5rem;
    width: 300px;
    height: 300px;
    margin-top: -36%;
    margin-left: -7rem;
}

.icon-result-right {
    font-size: 3rem;
    color: #008000;
    margin-right: 0.5rem;
    margin-top: 0%;
    margin-left: -11rem;
}

.title-check-email {
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    color: #000000;
   /*  margin-right: 0.5rem; */
    margin-top: 4%;
    margin-left: -3.5rem;
    display: flex;
    align-items: center;

}

.subtitle-check-email {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    color: #667682;
    margin-right: 0.5rem; 
    margin-top: 7%;
    margin-left: -9rem;
    display: flex;
    align-items: center;

}

.back-to-login{
    margin-left: -2rem;
    margin-top: 8%;
}