.scoreboard-diretta {
  background-color: #008000;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 1280px; /* Larghezza fissa */
  height: 720px; /* Altezza fissa */
  margin: 0 auto; /* Centra orizzontalmente */
  text-align: center;
  position: relative;
  overflow: hidden; /* Evita che gli elementi escano dai confini */
}

.diretta {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute; /* Cambiato da fixed a absolute per adattarsi al contenitore */
  background-color: #f8f9fa;
  padding: 20px;
  border: 2px solid #343a40;
  border-radius: 8px;
  max-width: 569px;
  width: 569px; /* Mantieni la dimensione del box */
  justify-content: space-between;
  top: 10px; /* Posizionamento relativo al contenitore */
  right: 10px;
}

.teams-container {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  transform: scale(0.9); /* Riduzione generale delle dimensioni */
  transform-origin: top left; /* Mantiene il punto di riferimento */
}

.team {
  display: flex;
  align-items: center;
  width: 100%;
}

.team-logo-container {
  display: flex;
  align-items: center;
}

.team-logo {
  width: 8.5% !important;
  height: 16.5% !important;
}


.color-strip {
  width: 8px; /* Ridotto leggermente per proporzione */
  height: 50px; /* Ridotto leggermente */
  margin-right: 8px;

  .home {
    background-color: #8a2be2 !important;
  }
  
  .away {
    background-color: #ffd700 !important;
  }
}

.team-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%; /* Ridotto per coerenza */
  font-size: 85%; /* Leggera riduzione del testo */
}

.team-name-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-width: 180px; /* Riduzione minima della larghezza */
  margin-left: 0;
}

.team-name {
  font-size: 98%;
  color: #343a40;
  margin-left: 15px;
  font-weight: bold;
  
}

.set-info {
  display: flex;
  flex-direction: row;
  margin-left: 15px; /* Ridotto per adattare meglio */
  font-weight: bold;
}

.set-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 40px;
}

.set-label,
.set-number {
  font-size: 65%; /* Ridotto per coerenza */
  color: #343a40;
  margin: 0;
  font-weight: bold !important;
  margin-bottom: 3px;
}


.set-scores {
  font-size: 85%; /* Ridotto leggermente */
  color: black;
  min-width: 25px; /* Più piccolo */
  text-align: center;
  font-weight: bold;
}

.divider {
  width: 109%;
  height: 1px; /* Più sottile */
  background-color: #343a40;
  margin: 5px 0; /* Meno margine */
}

.carousel-container-dir {
  position: absolute;
  bottom: 10px;
  left: 20px;
  max-width: 180px;
  max-height: 180px;
  overflow: hidden;
  z-index: 10;
  top: 15px;
  margin-left: 25%;
}

.carousel-scroll-vert {
  display: flex;
  white-space: nowrap;
}

.carousel-item {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  width: 100%;
  height: 100%;
  max-width: 300px;
  max-height: 300px;
}

.carousel-item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.logo-container-diretta {
  position: absolute; /* Allinea il logo rispetto al contenitore */
  top: 10px; /* Posiziona in alto */
  left: 20px; /* Posiziona a sinistra */
  z-index: 10;
}

.logo-container-diretta {
  position: relative;
  margin-right: auto;
  left: 0px;
  z-index: 10;
}

.header-logo {
  width: 95%;
  height: 60%;
  max-width: 300px;
  max-height: 300px;
}

.set-icon{
  color: #343a40;
}