.sponsor-management-container {
    width: 50%; // Larghezza per ogni div affinché occupi metà della riga
    max-width: 893px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.upload-section, .carousel-settings, .carousel-preview {
    margin: 20px 0;
    width: 80%;
    text-align: left;
}

input[type="file"] {
    margin-top: 10px;
}
 
button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
}

button:hover {
    background-color: #45a049;
}

.carousel-preview {
    border: 1px solid #ddd;
    padding: 10px;
    width: 100%;
    max-width: 600px;
    height: 300px; // Altezza fissa per l'area di anteprima
    overflow: hidden; // Nascondi le parti delle immagini che escono dal contenitore
    position: relative; // Per posizionare correttamente le immagini
    background-color: #ffffff;
    border-radius: 8px;
}

.carousel {
    width: 100%;
    height: 100%;
    position: absolute; // Per sovrapporre l'immagine correttamente
    top: 0;
    left: 0;
    display: flex; // Flex per allineare le immagini
}

.carousel img {
    width: 100%; // Imposta la larghezza al 100% per occupare tutto lo spazio
    height: 100%; // Imposta l'altezza al 100% per occupare tutto lo spazio
    object-fit: cover; // Mantiene le proporzioni delle immagini e riempie lo spazio
    transition: opacity 0.5s ease; // Aggiungi una transizione dolce
}

.file-names-list {
    display: flex;
    gap: 10px;
    flex-wrap: nowrap;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.file-name {
    cursor: pointer;
    color: #007bff;
    text-decoration: underline;
}

.more-files {
    position: relative;
}

